{% extends "users/base.html" %}

{% block title %}
Administrator Dashboard
{% endblock %}

{% block content %}
<div class="card">
    <h2>Administrator Dashboard</h2>

    <p>Welcome, {{ request.user.username }}</p>

    <hr>

    <h3>Student Management</h3>

    {% for student in students %}
        <td>{{ student.count }}</td>
    {% endfor %}
    <hr>

    <h3>Document Management</h3>

</div>
<style>
    .container{
        width: 50%;
        margin: auto;
        padding: 30px;
        justify-content: center;
    }
    .card{
        padding: 8px;
        padding: 25px;
        background: white;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    }
    h2{
        color: rgb(59, 145, 221);
        text-align: center;
        font-style: oblique;
    }
</style>
{% endblock %}