{% extends "users/base.html" %}

{% block title %}
Student Dashboard
{% endblock %}

{% block content %}
<div class="card">
    <h2>Student Dashboard</h2>

    <p>Welcome, {{ request.user.username }}</p>

    <hr>
</div>
<style>
    .container{
        width: 50%;
        padding: 30px;
        margin: auto;
        justify-content: center;
    }
    h2{
        text-align: center;
        font-style: oblique;
        color: rgb(109, 166, 216);
    }
    .card{
        background: white;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 0 12px rgba(0,0,0,0.1);
    }
</style>
{% endblock %}