{% extends "users/base.html" %}

{% block title %}
Edit Student
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">

        <h2>Edit Student</h2>

        <p>
            {{ student.full_name }}

            <br>

            {{ student.admission_number }}
        </p>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <div class="form-actions">

                <a href="{% url 'student_detail' student.id %}" class="btn btn-secondary btn-edit">

                    <i class="bi bi-x-circle"></i>

                    Cancel

                </a>

                <button type="submit" class="btn btn-success btn-edit">

                    <i class="bi bi-check-circle"></i>

                    Save Changes

                </button>

            </div>
        </form>

    </div>
</div>

{% endblock %}