
{% extends "users/base.html" %}

{% block title %}
Document Details
{% endblock %}

{% block content %}

<div class="page-header">

    <div>

        <h1>

            <i class="bi bi-file-earmark-lock-fill"></i>

            Document Details

        </h1>
    </div>

        <a href="{% url 'document_list' %}" class="btn btn-primary">

            <i class="bi bi-arrow-left-circle"></i>

            Back to Documents

        </a>
</div>


<!-- ==========================
DOCUMENT INFORMATION
========================== -->

<div class="card">

    <h2 class="card-title">

        <i class="bi bi-file-earmark-lock-fill"></i>

        {{ document.title }}

    </h2>
    <br>

    <div class="info-grid">

        <div class="info-label">

            <i class="bi bi-person-fill"></i>

            Student

        </div>
        <div> {{ document.student.full_name }} </div>

        <div class="info-label">

            <i class="bi bi-person-vcard-fill"></i>

            Admission Number

        </div>
        <div> {{ document.student.admission_number }} </div>

        <div class="info-label">

            <i class="bi bi-mortarboard-fill"></i>

            Programme

        </div>
        <div> {{ document.student.programme }} </div>

        <div class="info-label">

            <i class="bi bi-person-workspace"></i>

            Uploaded By

        </div>
        <div>

            {% if document.uploaded_by %}

                {{ document.uploaded_by.username }}

            {% else %}
                -
            {% endif %}

        </div>

        <div class="info-label">

            <i class="bi bi-shield-check"></i>

            Status

        </div>
        <div>

            {% if document.status == "ENCRYPTED" %}

                <span class="badge badge-success">

                    {{ document.get_status_display }}

                </span>

            {% else %}

                <span class="badge badge-warning">

                    {{ document.get_status_display }}

                </span>

            {% endif %}

        </div>

        <div class="info-label">

            <i class="bi bi-calendar-event"></i>

            Uploaded On

        </div>
        <div> {{ document.uploaded_at|date:"d M Y H:i" }} </div>

        <div class="info-label">

            <i class="bi bi-lock-fill"></i>

            Encrypted ON

        </div>
        <div>

            {% if document.encrypted_at %}

                {{ document.encrypted_at|date:"d M Y H:i" }}

            {% else %}
                -
            {% endif %}

        </div>

        <div class="info-label">

            <i class="bi bi-file-earmark-pdf-fill"></i>

            Original File

        </div>
        <div>
            <span class="file-name">

                <i class="bi bi-file-earmark-pdf-fill"></i>

                {{ document.original_filename }}

            </span>
            <br>
            <small class="text-success">
                <i class="bi bi bi-shield-check"></i>
                Original file securely deleted after encryption
            </small>
        </div>

        <div class="info-label">

            <i class="bi bi-file-earmark-lock-fill"></i>

            Encrypted File

        </div>
        <div>

            {% if document.encrypted_file %}
            <span class="file-name">

                <i class="bi bi-file-earmark-lock-fill"></i>

                {{ encrypted_filename }}

            </span>

            {% else %}

                -

            {% endif %}

        </div>

    </div>

</div>


<!-- ==========================
ADMINISTRATOR ACTIONS
========================== -->

<div class="card">

    <h2 class="card-title">

        <i class="bi bi-tools"></i>

        Administrator Actions

    </h2>

    <br>

    <div class="card-actions">

        <a href="{% url 'document_preview' document.id %}"
            class="btn btn-success">

            <i class="bi bi-eye-fill"></i>

            Preview

        </a>

        <a href="{% url 'edit_document' document.id %}"
           class="btn btn-primary">

            <i class="bi bi-pencil-square"></i>

            Edit Document

        </a>

        <a href="{% url 'student_detail' document.student.id %}"
           class="btn btn-secondary">

            <i class="bi bi-person-vcard-fill"></i>

            View Student

        </a>

    </div>

</div>

{% endblock %}

