{% extends "users/base.html" %}

{% block title %}
Documents
{% endblock %}

{% block content %}
<div class="card">
<h2>Uploaded Documents</h2>

<table border="1" cellpadding="10">

    <thead>

        <tr>

            <th>Owner</th>

            <th>Title</th>

            <th>Status</th>

            <th>Upload Time</th>

            <th>Actions</th>

        </tr>

    </thead>

    <tbody>

    {% for document in documents %}

        <tr>

            <td>{{ document.student.admission_number }}</td>

            <td>{{ document.title }}</td>

            <td>{{ document.status }}</td>

            <td>{{ document.uploaded_at }}</td>

            <td>

                <a href="#">View</a>

                |

                <a href="#">Edit</a>

            </td>

        </tr>

    {% empty %}

        <tr>

            <td colspan="5">

                No documents uploaded.

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>
</div>
<style>
    .container{
        width: 80%;
        padding: 30px;
        margin: auto;
        justify-content: center;
    }
    h2{
        font-style: oblique;
        text-align: center;
        color: rgb(109, 166, 206);
    }
    .card{
        padding: 25px;
        border-radius: 8px;
        background: white;
        box-shadow: 0 0 12px rgba(0, 0 , 0 ,0.1);
    }
    table{
        width: 100%;
    }
    table td{
        color: cadetblue;
        font-family: 'Courier New', Courier, monospace;
    }
</style>
{% endblock %}