{% extends "users/base.html" %}

{% block title %}
Edit Document
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <div class="page-header">

            <div>

                <h2>Edit Document</h2>

            </div>

        </div>

        <form
            method="post"
            enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_p }}

            <div class="form-actions">

                <a href="{% url 'document_detail' document.id %}" class="btn btn-secondary btn-edit">Cancel</a>

                <button type="submit" class="btn btn-success btn-edit">Save Changes</button>

            </div>

        </form>

    </div>
</div>

{% endblock %}

