{% extends "users/base.html" %}
{% load static %}
{% block title %}
My Documents
{% endblock %}

{% block content %}
<div class="page-header">
    <div>
        <h2>My Documents</h2>
    </div>
</div>  

<div class="card">

    <table>

        <thead>

            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Upload Time</th>
                <th>Action</th>
            </tr>

        </thead>


        <tbody>
            {% for document in documents %}

            <tr>
                <td>{{ document.title }}</td>

                <td>{{ document.status.lower }}</td>

                <td>{{ document.uploaded_at }}</td>

                <td >

                    <a href="{% url 'download_document' document.id %}" 
                     class="btn btn-primary btn-small">
                        Download
                    </a>
                
                </td>

            </tr>

            {% empty %}

            <tr>

                <td colspan="4">

                No documents uploaded.

                </td>

            </tr>

            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}